<div class="viewer-stage">
    <!-- ===================== -->
    <!-- youtube LIVE -->
    <!-- ===================== -->
    <div class="youtube-area">
        <div id="youtube-player" class="youtube-frame">

        </div>
    </div>

    <!-- ====================== -->
    <!-- Race png -->
    <!--=============================  -->
    <div class="race-area">

        <div class="image-wrapper">

            <img class="race-image" *ngIf="imageUrl" [src]="imageUrl" [alt]="'Race ' + currentRace"
                (error)="onImageError()">
        </div>

    </div>

</div>