<!-- 表示画面 -->
<div class="container">
  <h1>出場選手一覧</h1>

  <div class="selector-panel2">
    <label for="dateSelect">日付:</label>
    <select id="dateSelect" [(ngModel)]="selectedDate" (change)="onDateChange()">
      <option value="">--選択--</option>
      <option *ngFor="let date of dates" [value]="date">{{ date }}</option>
    </select>

    <label for="seriesSelect">場(節):</label>
    <select id="seriesSelect" [(ngModel)]="selectedSeriesKey" (change)="onSeriesChange()"
      [disabled]="!seriesList.length">
      <option value="">--選択--</option>
      <option *ngFor="let s of seriesList" [value]="getSeriesKey(s)"> {{ formatSeriesLabel(s) }}
      </option>
    </select>
  </div>

  <div class="header">

    <!-- 左：ロゴ＋タイトル -->
    <div class="header-left">
      <div class="logo">
        <img src="assets/boatrace-amagasaki.png">
      </div>

      <div class="title">
        {{ selectedSeriesLabel }}
      </div>
    </div>

    <!-- 右: 日程 -->
    <div class="header-right">
      <div class="schedule">

        <!-- 上段（優勝戦など) -->
        <div class="schedule-top">
          <div *ngFor="let d of dateList" class="cell">
            {{d.topLabel}}
          </div>
        </div>

        <!-- 下段（日付） -->
        <div class="schedule-bottom">
          <div *ngFor="let d of dateList" class="cell" [ngClass]="d.class">
            {{d.label}}
          </div>
        </div>

      </div>
    </div>

  </div>

  <!-- 表示切替ボタン -->
  <div style="margin: 10px 0;">
    <button (click)="useSeries = false" [disabled]="!useSeries">当日モード</button>
    <button (click)="useSeries = true" [disabled]="useSeries">シリーズモード</button>
  </div>

  <!-- 表示内容切替 -->
  <div *ngIf="useSeries">
    <app-racer-series-list [startDate]="selectedDate" [jcd]="selectedJcd"></app-racer-series-list>
  </div>

  <div *ngIf="!useSeries">
    <app-racer-list [hdate]="selectedDate" [jcd]="selectedJcd"></app-racer-list>
  </div>
</div>