/* 外枠 */
.stage {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background: black;
}

.canvas {
    aspect-ratio: 16 / 9;
    height: 100%;

    /* 高さ基準で横が足りない時 */
    max-height: 100%;

    background: #1e3fa0;
    overflow: hidden;
}

.container {
    /* 縦flex */
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    overflow: hidden;
}

button {
    margin-right: 10px;
    padding: 6px 12px;
}

button:disabled {
    background-color: #ccc;
    color: #666;
}

.header {
    display: flex;
    justify-content: space-between;

    flex: 0 0 100px;

    padding: 12px 20px;
    background: linear-gradient(to right, #cfd8df, #aeb8c2);
    box-shadow: inset 0 -2px 4px rgba(0, 0, 0, 0.2);
}

.racer-area {
    flex: 1;
    /* 中のgridのはみ出し防止 */
    min-height: 0;
    overflow: hidden;
}

/* 左 */
.header-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4px;
}

/* ロゴ */
.logo img {
    height: 45px;
}

/* タイトル */
.title {
    font-size: 26px;
    font-weight: bold;
    font-weight: 700;

    letter-spacing: 1px;

    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

/* 右（日程） */
.header-right {
    display: flex;
    align-items: flex-end;
}

/* 日程全体 */
.schedule {
    display: flex;
    flex-direction: column;
    border: 1px solid #999;
}

/* 上段 */
.schedule-top {
    display: flex;
}

/* 下段 */
.schedule-bottom {
    display: flex;
}

/* セル */
.cell {
    min-width: 52px;
    height: 24px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-left: 1px solid #aaa;
    text-align: center;
    font-size: 13px;
}

.cell:first-child {
    border-left: none;
}

/* 曜日カラー */
.cell.sun {
    color: red;
}

.cell.sat {
    color: blue;
}

/* 終了日（横線） */
.cell.done {
    text-decoration: line-through;
    opacity: 0.6;
}