<h1>portal works!</h1> {{name}}

<h2>portal works!</h2> 
{{names[0]}}

<h3>portal works!</h3>
{{names[1]}}

<h4>portal works!</h4>
{{names[2]}}

<select name="pets" id = "pet-select">
  <option value="">-- Please choose an option --</option>
  <option value="dog" >Dog</option>
  <option value="cat" >Cat</option>
  <option value="hamster" >Hamster</option>
  <option value="parrot" >Pallot</option>
  <option value="spider" >Spider</option>
  <option value="goldfish" >Goldfish</option>
</select>  

<div>
<label for ="name" >name (4 to 8 characters) :</label>

<input 
 type = "text"
 id="name"
 name="name"
 required
 minlength="4"
 maxlength="8"
 size="10" />
</div>

<button (click) = "screenTransit()">遷移</button>
 
<!-- 
 git add .
 git commit -m test //testは更新タイトル名
 git push origin main //gitに送信アップロードできる
 git pull orgin main //情報取得 
-->