<!-- 表示画面 -->

<!-- ローディング中 -->
<div *ngIf="isLoading">読み込み中...</div>

<!-- エラー表示 -->
<div *ngIf="error" class="error">{{ error }}</div>

<div id="total-pages" style="display: none;">
  {{ pages.length }}
</div>

<!-- マーカー登録 -->
<div id="capture-ready" *ngIf="pagedRacers.length > 0">
</div>

<!-- 選手カードのグリッド表示 -->
<div class="racer-grid" [style.--cols]="cols">

  <div class="racer-card" *ngFor="let racer of pagedRacers">

    <!-- 左: 写真 -->
    <!-- 画像エリア -->
    <div class="racer-photo">
      <img [src]="getPhotoPath(racer.toban)" (error)="setFallbackImage($event)" />
    </div>

    <!-- 右: 情報 -->
    <div class="racer-info">
      <div class="name">{{ racer.name }}</div>
      <div class="sub">({{ racer.kyu }}・{{ normalizeShibu(racer.shibu) }} 支部)</div>
      <div class="row">登録番号: {{ racer.toban }}</div>
      <div class="row">勝率: {{ racer.zsyo }}</div>
      <div class="row">2連: {{ racer.z2ren }}%</div>
      <div class="row">3連: {{ racer.z3ren }}%</div>
    </div>
  </div>

</div>