/* 背景（画面全体） */
:host {
  display: block;
  width: 100%;
  height: 100vh;

  background: linear-gradient(to bottom,
      #1e3fa0,
      #0b1f5c);
}

.racer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

/* グリッド全体 */
.racer-grid {
  display: grid;
  /* ここが核心 */
  grid-template-columns: repeat(var(--cols, 6), 1fr);
  gap: 14px;
  padding: 10px;
}

/* 各選手カード全体 */
.racer-card {
  display: flex;
  /* 横並びに変更 */
  flex-direction: row;

  /* 超重要 */
  aspect-ratio: 2 / 1;

  background: linear-gradient(#2a4fc9, #142f8a);
  color: white;

  border-radius: 8px;
  overflow: hidden;
}

/* 画像エリア */
.racer-photo {
  width: 35%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  background: #000;
  position: relative;

  /* トリミング */
  overflow: hidden;
}

/* 画像サイズ調整 */
.racer-photo img {
  width: 100%;
  height: 140%;
  object-fit: cover;
  object-position: top;
}

/* 情報エリア */
.racer-info {
  width: 65%;
  padding: 6px 8px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 4px;

  /* /* text-align: center; * */
}

/* 名前 */
.name {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-shadow: 1px 1px 2px black;
}

/* サブ情報 */
.sub {
  font-size: 18px;
  margin-bottom: 4px;
  text-align: center;
  /* opacity: 0.9; */
}

/* 行 */
.row {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}